

body {
    background-color: rgb(233, 241, 117);
    margin: 10px 25px 25px 10px;
    /*margin: 10px 50px 25px;*/
    
}

.gradiente {
    height: auto;
    margin: auto;
    margin-top:10px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-image: linear-gradient(green, yellow);
    border-radius: 5px;
}

.menu ul{
    text-align: right;
    /*color:yellow*/
    margin-right: 4px;
    margin-top: 2px;
    margin-bottom: 2px;

}

.menu li {
    color: yellow;
    display: block;
    display: inline-block;
    margin-top: auto;
    gap: .6rem;
    font-size: 1rem;
    font-family:'Times New Roman', Times, serif;
    border: solid 2px;
    padding: .40em 1em;
    border-radius: 35px;
    background-color: #ccc;

}

.menu a {
    color: black;
    /*display: block;*/
    text-decoration: none;
        
}

   
.menu ul a:hover {
    background-color: rgb(63, 182, 63);
    
    
 }

.header {
    /*display: flex;*/
    text-align: center;
}

.imagem_prato {
    border: 2px solid green;
    border-radius: 10px;
    /*margin-left: 10px;*/
    width: 200px;
    height: 150px;
    display: inline-block;


}

h1 {
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
    font-size: 3.0rem;
    text-align: center;

    /*display: inline-block;*/

}


/*.title {
    /*font-family:Georgia, 'Times New Roman', Times, serif;*/
    /*font-size: 3.0rem;*/
    /*margin-bottom: 1px;*/
    /*margin-top: 1px;*/
    /*display: flexbox;*/
    /*display:inline-flexbox;*/
    /*ext-align: center;*/


.titleparágrafo {
    font-family: Comic Sans MS;
    color:black;
    gap: 1px;
    text-align: center;
    margin-top: auto;
    margin-bottom: 10px;
    /*display:inline-flexbox;*/
    /*background-color: rgb(238, 238, 131);*/
    
}
   

 h2 {
    color: black;
    font-family: Comic Sans MS;
    font-size: 20px;
    font-style: normal;
    text-align: left;
    letter-spacing: 1px;
    margin-left: 1.5rem;
    margin-top: 2rem;




 }

 
 .corpo_da_home {
    text-align: center;
    display: flexbox;   
       
    
 }

 
 .section_bloco_inteiro {
    /*bloco inteiro com as 3 caixas*/
    margin-top: 2rem;
    margin-left: 3px;
    margin-right: 3px;
    max-width: fit-content;
    display: flex; /*fica lado a lado*/
    display: flexbox;
    text-align: center;
    gap: 1rem; /*espaço entre as caixinhas da foto*/


 }

.container {
    /*caixa individual*/
    display: flexbox;
    border: 3px solid rgb(53, 214, 53);
    border-radius: 15px;
    margin-left: .1rem;
    margin-right: .1rem;
    width: center;
    max-width: auto;
    text-align: center;
    gap: 2rem;
}
 
 h3 {
    color: black;
    font-size: 1.1rem;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    letter-spacing: 1px;
    

 }   

 
 .btn {
    color: black;
    background-color: #ccc;
    font-size:  .9rem;
    border-radius: 4px;
    text-decoration: none;
    padding: 0.40em 1em;
    /*display: inline-block;*/

}

.btn a {
    text-align: center;

}

 .descrição {
    font-size: .8rem;
    font-family:'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
    
 }

 
 .container img {
    /*display: block;
    /*margin-left: 20px;
    margin-right: auto;*/
    width: 300px;
    height: 150px;
    margin-left: 2rem;
    margin-right: 2rem;
    border: 3px solid green;
    border-radius: 2px;
    text-align: center;
 }
    
 .vídeo {
    border: 3px solid green;
    border-radius: 2px;
 }

 

 .objetivos_ods {
    border: 3px solid rgb(53, 214, 53);
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;

 }

 
.article_objetivos p{
    display: flexbox;
    text-align: left;
    /*margin-left: 1rem;
    margin-right: 1rem;*/
    margin: 1rem 1.5rem 1rem 1.5rem;
    color: black;
    

}

details {
    color: red;
    margin-bottom: 1em;
    padding: .5em;
}

details summary {
    cursor: pointer;

}

/*Abaixo, seletor por atributo*/
details[open] {
    background-color: rgb(76, 204, 76);
    margin-bottom: auto;

    color: black;
}


.title_mercosul {
    font-family:'Times New Roman', Times, serif;
    text-align: left;
    margin-bottom: auto;
    margin-top: auto;
    font-size: 20px;
    text-align: left;

}

.mercosul {
    border: 3px solid rgb(53, 214, 53);
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

 .imagem_mercosul {
    border: 2px solid green;
    border-radius: 10px;
    /*margin-left: 10px;*/
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    width: 200px;
    height: 150px;
    display: inline-block;

 }

.rodapé {
    color: black;
    background-color: #adacac;
    text-align: center;
    padding-bottom: 0;
    text-shadow: 2px 2px 2px black;
    /*para distanciar as letras letter-spacing*/
    letter-spacing: 2px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 11px;

}