:root {
    --background-image: linear-gradient(rgb(40, 170, 40),rgb(221, 221, 43), rgb(44, 44, 245));

}

body {
    background-color: rgb(233, 241, 117);
    margin: 10px 25px 25px 10px;
    /*margin: 10px 50px 25px;*/

        
}

.gradiente {
    height: auto;
    margin: auto;
    margin-top:10px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-image: var(--background-image);
    /*background-image: linear-gradient(rgb(40, 170, 40),rgb(221, 221, 43), rgb(44, 44, 245));
    /*background-image: linear-gradient(green, yellow);*/
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #363636;
}

.menu ul{
    text-align: right;
    margin-right: 4px;
    margin-top: 2px;
    margin-bottom: 2px;

}

.menu li {
    color: yellow;
    display: block;
    display: inline-block;
    margin-top: auto;
    gap: .6rem;
    font-size: 1rem;
    font-family:'Times New Roman', Times, serif;
    border: solid 2px;
    padding: .40em 1em;
    border-radius: 35px;
    background-color: #ccc;

}

.menu a {
    color: black;
    /*display: block;*/
    text-decoration: none;
        
}

   
.menu ul a:hover {
    background-color: rgb(63, 182, 63);
    
    
 }

.header {
    /*display: flex;*/
    text-align: center;
}

.imagem_pobreza {
    border: 2px solid green;
    border-radius: 10px;
    box-shadow: 2px 2px #363636;
    /*margin-left: 10px;*/
    width: 200px;
    height: 150px;
    display: inline-block;


}

h1 {
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
    font-size: 3.0rem;
    text-align: center;

    /*display: inline-block;*/

}


/*.title {
    /*font-family:Georgia, 'Times New Roman', Times, serif;*/
    /*font-size: 3.0rem;*/
    /*margin-bottom: 1px;*/
    /*margin-top: 1px;*/
    /*display: flexbox;*/
    /*display:inline-flexbox;*/
    /*ext-align: center;*/


.titleparágrafo {
    font-family: Comic Sans MS;
    color:black;
    gap: 1px;
    text-align: center;
    margin-top: auto;
    margin-bottom: 10px;
    /*display:inline-flexbox;*/
    /*background-color: rgb(238, 238, 131);*/
    
}
   

 h2 {
    color: black;
    font-family: Comic Sans MS;
    font-size: 20px;
    font-style: normal;
    text-align: left;
    letter-spacing: 1px;
    margin-left: 1.5rem;
    margin-top: 2rem;


 }

 
 .corpo_da_home {
    text-align: center;
    display: flexbox; 
  
               
 }

 
 .section_bloco_inteiro {
    /*bloco inteiro com as 3 caixas*/
    margin-top: 2rem;
    margin-left: 3px;
    margin-right: 3px;
    max-width: fit-content;
    display: flex; /*fica lado a lado*/
    display: flexbox;
    text-align: center;
    gap: 1rem; /*espaço entre as caixinhas da foto*/
    justify-content: center;

 }

.container {
    /*caixa individual*/
    display: flexbox;
    border: 3px solid rgb(53, 214, 53);
    border-radius: 15px;
    margin-left: .1rem;
    margin-right: .1rem;
    width: center;
    max-width: auto;
    text-align: center;
    gap: 2rem;


}
 
 h3 {
    color: black;
    font-size: 1.1rem;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    letter-spacing: 1px;

    

 }   

 
 .btn {
    color: black;
    background-color: #ccc;
    font-size:  .9rem;
    border-radius: 4px;
    text-decoration: none;
    padding: 0.40em 1em;
    /*display: inline-block;*/

}

.btn a {
    text-align: center;

}

 .descrição {
    font-size: .8rem;
    font-family:'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
    
 }

 
 .container img {
    /*display: block;
    /*margin-left: 20px;
    margin-right: auto;*/
    width: 300px;
    height: 150px;
    margin-left: 2rem;
    margin-right: 2rem;
    border: 3px solid green;
    border-radius: 5px;
    box-shadow: 2px 2px #363636;
    text-align: center;
 }
    
 .vídeo {
    border: 3px solid green;
    border-radius: 5px;
    box-shadow: 2px 2px #363636;

 }

 .fonte {
    font-size: 10px;
 }
 

 .objetivos_ods {
    border: 3px solid rgb(53, 214, 53);
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;

 }

 
.article_objetivos p{
    display: flexbox;
    text-align: left;
    /*margin-left: 1rem;
    margin-right: 1rem;*/
    margin: 1rem 1.5rem 1rem 1.5rem;
    color: black;
    

}

details {
    color: red;
    margin-bottom: 1em;
    padding: .5em;

    
}

details summary {
    cursor: pointer;

}

/*Abaixo, seletor por atributo*/
details[open] {
    background-color: rgb(169, 248, 169);
    margin-bottom: auto;
    color: black;
}


.mercosul {
    background-image: linear-gradient(rgb(72, 72, 245), rgb(100, 236, 100));
    border: 3px solid rgb(53, 214, 53);
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;

}

 .imagem_mercosul {
    border: 2px solid green;
    border-radius: 10px;
    box-shadow: 2px 2px #363636;
    /*margin-left: 10px;*/
    margin-top: 4px;
    margin-bottom: 4px;
    /*margin-left: 3px;*/
    width: 300px;
    height: 150px;
    /*display: inline-block;*/

 }

 .title_mercosul {
    font-family:'Times New Roman', Times, serif;
    text-align: left;
    margin-bottom: auto;
    margin-top: auto;
    font-size: 20px;
    text-align: center;

}

.saiba_mais {
    color: blue;
    text-decoration: none;
    font-size: 1.1rem;
    /*letter-spacing: 1px; */

}


.rodapé {
    color: black;
    background-color: #adacac;
    text-align: center;
    padding-bottom: 0;
    text-shadow: 2px 2px 2px black;
    /*para distanciar as letras letter-spacing*/
    letter-spacing: 2px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 11px;

}

.governo_no_combate {
    background-image: var( --background-image);
    border: 3px solid rgb(53, 214, 53);
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;

}

.texto_gov {
    display: flexbox;
}

.imagem_gov {
    border: 2px solid green;
    border-radius: 10px;
    box-shadow: 2px 2px #363636;
    /*margin-left: 10px;*/
    margin-top: 4px;
    margin-bottom: 4px;
    /*margin-left: 3px;*/
    width: 300px;
    height: 150px;
    /*display: inline-block;*/

}


.form {

    display: flex;
    text-align: left;
    border-radius: 5px;
    /*border-shadow pra dar uma pequena sombra ao redor*/
    box-shadow: 3px 3px 3px 3px green;
    padding: 1em;
    
}

.form fieldset {
    /*text-align: justify;
    width: 50%;*/
    border: none;
    padding: 0;
    margin: 0;
     
}

.form legend {
    font-weight: bold;
    font-size: 1.2rem;
    font-family:'Times New Roman', Times, serif;
    color: blue;
    margin-bottom: 1.5rem;


}

.form label {
    font-weight: bold;
    font-size: 1.em;
    font-family:'Times New Roman', Times, serif;
    color: rgb(30, 201, 30);
    margin-bottom: .25em;


}

.form input {
    padding: .7em;
    border: 5px;
    border-radius: 5px;
    margin-bottom: 1.5em;
    border: 1px solid rgb(35, 238, 35);
    font-size: 1.em;
    width: 80%;
    margin-top: 2px;

}

.form textarea {
    /*para o usuário nao aumentar a caixa de msgm*/
    resize: none;
    border-radius: 5px;
    margin-bottom: 1.5em;
    border: 1px solid rgb(35, 238, 35);

}

.btn2 {
    text-align: center;
    background-color: yellow;
    color: rgb(30, 201, 30);
    cursor: pointer;
    max-width: 20%;
    

}


.autor {
    text-align: left;
    /*margin-bottom: 10px;*/
    letter-spacing: 1px;
    /*margin-left: 1.5rem;
    margin-top: 2rem;*/
    margin: 1rem 1.5rem 1rem .7rem;
    font-size: .99rem;
    font-family:'Times New Roman', Times, serif;
    color: black;
}


