:root {
    --background-image: linear-gradient(rgb(40, 170, 40),rgb(221, 221, 43), rgb(44, 44, 245));

}

body {
    background-color: rgb(238, 250, 187);
    /*background-color: rgb(234, 243, 195);*/
    /*background-color: rgb(243, 243, 163);*/
    margin: 10px 10px 0px 10px;
    /*margin: 10px 50px 25px;*/
        
}


/*.fixed { /*pra deixar a parte de cima fixada*/
    /*position: sticky;
    width: 100%;
    top: 0;
    left: 0;*/

 /*Onde está o header, ul, li, a, título, imagem do título...*/
.gradiente {
    height: auto;
    margin: auto;
    margin-top:10px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-image: var(--background-image);
    /*background-image: linear-gradient(rgb(40, 170, 40),rgb(221, 221, 43), rgb(44, 44, 245));
    /*background-image: linear-gradient(green, yellow);*/
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #363636;
    
}

 
.menu ul{
    text-align: center;
    /*margin-right: 4px;*/
    margin-top: 2px;
    margin-bottom: 2px;
  


}

 /*Nome de cada Seção*/
.menu li {
    color: yellow;
    display: block;
    display: inline-block;
    margin-top: auto;
    gap: .6rem;
    font-size: 1rem;
    font-family:'Times New Roman', Times, serif;
    border: solid 2px;
    padding: .40em 1em;
    border-radius: 35px;
    background-color: #ccc;

    
}

 /*Link pra cada seção*/ 
.menu a {
    color: black;
    /*display: block;*/
    text-decoration: none;     
     
}

 /*Animação pra quando o usuário passar o mouse sobre o nome de cada seção do menu*/
.menu ul a:hover {
    background-color: rgb(63, 182, 63);    
    
 }


 /*Div dentro do header*/
.header {
    /*display: flex;*/
    text-align: center;
}


 /*Imagem do header, do topo da página*/
.imagem_pobreza {
    border: 2px solid green;
    border-radius: 10px;
    box-shadow: 2px 2px #363636;
    /*margin-left: 10px;*/
    width: 200px;
    height: 150px;
    display: inline-block;


}

 /*Titulo: Erradicação da Pobreza, no header*/
h1 {
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
    font-size: 3.0rem;
    text-align: center;
    /*display: inline-block;*/


}

 /*Parágrafo embaixo do título, no header*/
.titleparágrafo {
    font-family: Comic Sans MS;
    color:black;
    gap: 1px;
    text-align: center;
    margin-top: auto;
    margin-bottom: 10px;
    /*display:inline-flexbox;*/
    /*background-color: rgb(238, 238, 131);*/
    
}

 /*Parágrafo embaixo da foto do título, no header*/
.titleparágrafo2 {
    font-family: Comic Sans MS;
    color:black;
    gap: 1px;
    text-align: center;
    margin-top: auto;
    margin-bottom: 10px;
    opacity: .6;

    
}
   
 /*Cada seção do trabalho: home, objetivos, curiosidade...*/
 h2 {
    color: black;
    font-family: Comic Sans MS;
    font-size: 20px;
    font-style: normal;
    text-align: left;
    letter-spacing: 1px;
    margin-left: 1.5rem;
    margin-top: 2rem;


 }

 /*Seção Home*/
 .corpo_da_home {
    text-align: center;
    display: flex; 
    /*justify-content: center;*/
    justify-content: space-around; /* TESTE AGORA*/

    max-width: 100%; /* TESTE AGORA*/
                   
 }
 
 /*TESTE AGORA*/
 @media screen and (max-width: 768px) {
    .corpo_da_home {
        width: 100%;
        flex-direction: column;
    }
    
 }

 /*Bloco inteiro com as 6 caixinhas/containers*/
 .section_bloco_inteiro {  
    margin-top: 2rem;
    margin-left: 3px;
    margin-right: 3px;
    /*max-width: fit-content;*/ /*como estava antes*/
    max-width: 90%; 
    display: flex; /*fica lado a lado*/
    /*display: flexbox;*/
    text-align: center;
    gap: 1rem; /*espaço entre as caixinhas da foto*/
    justify-content: center;
    
    
 }

 /*Cada container/caixa*/
.container { 
    /*display: flexbox;*/
    border: 3px solid rgb(53, 214, 53);
    border-radius: 15px;
    margin-left: .1rem;
    margin-right: .1rem;
    width: center;
    max-width: auto;
    text-align: center;
    gap: 2rem;
    
}

 /*Título dentro de cada container, título dentro das seções curiosidade e combate*/
 h3 {
    color: black;
    font-size: 1.1rem;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    letter-spacing: 1px;
  
 }   

 /*Cada link no botão de cada container*/
 .btn {
    color: black;
    background-color: #ccc;
    font-size:  .9rem;
    border-radius: 4px;
    text-decoration: none;
    padding: 0.40em 1em;
    /*display: inline-block;*/

}
 /*Link de cada botão dos containers*/
.btn a {
    text-align: center;

}

 /*Parágrafo dentro de cada container*/
 .descrição {
    font-size: .8rem;
    font-family:'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
    
 }

 
 .container img {
    /*display: block;
    /*margin-left: 20px;
    margin-right: auto;*/
    width: 300px;
    height: 150px;
    margin-left: 2rem;
    margin-right: 2rem;
    border: 3px solid green;
    border-radius: 5px;
    box-shadow: 2px 2px #363636;
    text-align: center;
 }
  
 
 .vídeo {
    border: 3px solid green;
    border-radius: 5px;
    box-shadow: 2px 2px #363636;

 }

 /*Fonte/Referência embaixo das fotos e vídeos*/
 .fonte {
    font-size: 10px;
 }
 
 /*Seção Objetivos*/
 .objetivos_ods {
    background-image: linear-gradient(rgb(72, 72, 245), rgb(100, 236, 100));
    border: 3px solid rgb(53, 214, 53);
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;

 }

 /*Descrição dos  objetivos*/
.article_objetivos p{
    display: flexbox;
    text-align: left;
    /*margin-left: 1rem;
    margin-right: 1rem;*/
    margin: 1rem 1.5rem 1rem 1.5rem;
    color: black;
    
}

 /*details {
    color: red;
    margin-bottom: 1em;
    padding: .5em;*/
 

 /*details summary {
    cursor: pointer;*/


 /*Abaixo, seletor por atributo*/
 /*details[open] {
    background-color: rgb(169, 248, 169);
    margin-bottom: auto;
    color: black;*/


 /*Seção Curiosidade*/
.mercosul {
    background-image: var( --background-image);
    border: 3px solid rgb(53, 214, 53);
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;

}

 /*Título h1 da seção Curiosidade*/
.title_mercosul {
    font-family:'Times New Roman', Times, serif;
    text-align: left;
    margin-bottom: auto;
    margin-top: auto;
    font-size: 20px;
    text-align: center;
    margin-top: 2rem;


}


 .imagem_mercosul {
    border: 2px solid green;
    border-radius: 10px;
    box-shadow: 2px 2px #363636;
    /*margin-left: 10px;*/
    margin-top: 4px;
    margin-bottom: 4px;
    /*margin-left: 3px;*/
    width: 300px;
    height: 150px;
    /*display: inline-block;*/

 }

 /*Saiba/Leia mais do Combate e Curiosidade*/
.saiba_mais {
    color: blue;
    /*color: blue;*/
    text-decoration: none;
    font-size: 1.1rem;

}

 /*Seção Combate*/
.governo_no_combate {
    background-image: var( --background-image);
    border: 3px solid rgb(53, 214, 53);
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    

}

 /*Article da seção Combate*/
.texto_gov {
    display: flexbox;
}


 /*Título h3 do Combate: Bolsa família...*/
.title_gov {
    font-family:'Times New Roman', Times, serif;
    text-align: left;
    margin-bottom: auto;
    margin-top: auto;
    font-size: 20px;
    text-align: center;
    margin-top: 2rem;

}


.imagem_gov {
    border: 2px solid green;
    border-radius: 10px;
    box-shadow: 2px 2px #363636;
    /*margin-left: 10px;*/
    margin-top: 4px;
    margin-bottom: 4px;
    /*margin-left: 3px;*/
    width: 300px;
    height: 150px;
    /*display: inline-block;*/

}

 /*Seção do formulário*/
.section_form {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 3rem;

}

.form {
    /*display: flex;*/
    /*justify-content: center;
    align-items: center;
    /*text-align: left;*/
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px green; /* pra dar uma pequena sombra ao redor*/
    border: none; /*pra tirar a borda do form*/
    /*largura da borda*/
    /*width: 40%;*/

     
}

.form fieldset {
    /*text-align: justify;
    width: 50%;*/
    border: none;
    padding: auto;
    margin: .7rem 1rem .2rem 1rem;
    
     
}

 /*Título: entre em contato*/
.form legend {
    font-weight: bold;
    font-size: 1.2rem;
    font-family:'Times New Roman', Times, serif;
    color: rgb(30, 201, 30);
    margin-bottom: .8rem;
    /*text-align: center;*/
    /*align-items: center;*/
    /*margin: 1.2rem 1.rem .2rem 1.rem;*/
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;

        
}

 /*Descrição de cada input*/
.form label {
    font-weight: bold;
    font-size: 1.em;
    font-family:'Times New Roman', Times, serif;
    color: rgb(30, 201, 30);
    margin-bottom: .25em;
       

}


 /*Input= entrada de dados do usuário*/
.form input {
    padding: .7em;
    border: 5px;
    border-radius: 5px;
    margin-bottom: 1.5em;
    border: 1px solid rgb(35, 238, 35);
    font-size: 1.em;
    width: 90%;
    margin-top: 4px;
    flex-grow: 1;
    outline: none;

        

}

 /*Animação no contorno de cada input quando usuário clicar*/
.form input:focus {
    outline: 2px solid rgb(0, 68, 255); /*form input:focus = quando clicar no campo ficar amarelo*/

}

 /*Caixa de texto*/
.form textarea {
    resize: none; /*para o usuário nao aumentar a caixa de msgm*/
    border-radius: 5px;
    margin-bottom: .1rem;
    border: 1px solid rgb(35, 238, 35);
    outline: none;
    flex-wrap: wrap;


}

 /*Animação no contorno da caixa de texto quando usuário clicar*/
.form textarea:focus {
    outline: 2px solid rgb(0, 68, 255);


}


.btn2 {
    background-color: green;
    color: yellow;
    font-weight: bold; /*negrito*/
    cursor: pointer;
    max-width: 20%;
    margin-bottom: .1rem;   
    
}

 /*Botão enviar do form*/
.btn2:hover { /*hover= mudar de cor ao passar com o mouse*/
    background-color: yellow;
    color:black

}



 /*Referência*/
.article__ref {
    border: 3px solid rgb(53, 214, 53);
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: left;
    



}

.article__ref a{
    display: flexbox;   
    text-align: left;
    color: blue;
    /*margin-left: 1rem;
    margin-right: 1rem;*/
    margin: 1rem 1.5rem 1rem 1.5rem;
}

.details__ref {
    color: green;
    margin-bottom: 1em;
    padding: .5em;
    cursor: pointer;

}

 /*Abaixo, seletor por atributo*/
.details__ref[open] {
    background-color: rgb(203, 240, 203);
    /*background-color: rgb(144, 241, 144);*/
    margin-bottom: auto;
    color: red;
}

 /*UP pro usuário subir pro topo da página*/
.subir {
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    color: red;
    text-decoration: none;
    border-radius: 6px;
    background-color: #ccc;
    font-size:  .9rem;
    text-decoration: none;
    padding: 6px;
    align-items: center;
    justify-content: center;
    margin: 1rem 1.5rem 1rem .7rem;
    text-align: center;
    
     
}

/*Sobre a autora*/
.article_autora {
    background-color: rgb(233, 241, 117);
    /*background-color: rgba(233, 247, 50, 0.438);*/
    text-align: left;
    letter-spacing: 1px;
    /*margin: 1rem 1.5rem 1rem .7rem;*/
    font-size: .99rem;
    font-family:'Times New Roman', Times, serif;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: .1rem;


}

.autora {
    text-align: left;
    letter-spacing: 1px;
    margin: 1rem 1.5rem 1rem .7rem;
    font-size: .99rem;
    font-family:'Times New Roman', Times, serif;
    color: black;

}


.rodapé {
    color: black;
    background-color: #c0bebe;
    text-align: center;
    padding-bottom: 3px;
    padding-top: 0;
    text-shadow: 2px 2px 2px black;
    letter-spacing: 2px; /*para distanciar as letras*/
    margin-top: 0;
    margin-bottom: 0;
    font-size: 11px;
   
}